$white: #FFFFFF;
$light-gray: #3A3A3A;
$orange-chatcartel: #F76D4D;
$light-blue: #00AAE9;
$background: #F9F9F9;
$gray_image: #E5E5E5;
$green: #2FB244;
$light-orange: #FFECE8;
$footer: #F5F6F8;
$box-gray: #E9E9E9;
$orange-opa: #FFE0D9;

$items-shadow: 0px 10px 20px #0000001A;
$icon-shadow: 0px 4px 6px #24A23433;
$chat-shadow: 0px 30px 50px #00000033;
$message-shadow: 0px 10px 10px #0000001A;
$image-shadow: 0px 10px 10px #00000029;
$container-shadow:  0px 15px 50px #0000001A;

$border-items: 4px solid #F2F2F2;
