<!-- <main class="col-lg-12 d-flex flex-column justify-content-center align-items-center">
  <span>Get the right solution for your company</span>

  <span>Select your industry</span>

  <div class="container align-items-center">
    <div class="d-grid gap-4 grid_template">

      <div *ngFor="let industrie of industries" class="items d-flex flex-column justify-content-center align-items-center p-4">
        <div class="box d-flex justify-content-center align-items-center p-5" [ngClass]="{active: industrie.isSelected}">
          <div class="{{industrie.icon}}"></div>
        </div>
        <span>{{industrie.title}}</span>
      </div>

    </div>
  </div>
</main> -->
