<main class="col-lg-12 d-flex flex-column justify-content-center align-items-center">

  <div class="container d-flex flex-column justify-content-between">

    <h3 class="fw-bold mb-3">Integrations</h3>

    <h5 class="mb-4">Integrate your CRM and ERP with the Client and Inventory API to enhance your company´s performance.</h5>

    <div class="w-100 d-flex justify-content-between my-4">

      <div class="d-flex flex-column align-items-start">
        <div class="sap"></div>
        <span class="w-100 mt-2 text-center">Sap</span>
      </div>

      <div class="d-flex flex-column">
        <div class="dynamics"></div>
        <span class="w-100 mt-2 text-center">Microsoft Dynamics</span>
      </div>

      <div class="d-flex flex-column">
        <div class="salesforce"></div>
        <span class="w-100 mt-2 text-center">Salesforce</span>
      </div>

      <div class="d-flex flex-column">
        <div class="zapier"></div>
        <span class="w-100 mt-2 text-center">Zapier</span>
      </div>

      <div class="d-flex flex-column">
        <div class="hubspot"></div>
        <span class="w-100 mt-2 text-center">Hubspot</span>
      </div>

    </div>

  </div>


</main>
