@import './sass/general';
@import './sass/variables';

.hbspt-form {
  width: 50%;
  height: calc(100vh - 100px);
  margin-top: 100px;
  display: flex;
  justify-content: center;
}

@media only screen and (max-width: 640px) {

  .hbspt-form {
    width: 100%;
  }

}

